@inherits LayoutComponentBase
@inject Core.PluginLoader Loader
@inject Core.CodexWorld World
@inject IWebHostEnvironment Env
@inject IConfiguration Config

<div class="page-wrapper">
    <NavMenu />
    <main class="main-content">
        <div class="app-container">
            @Body
        </div>
    </main>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        var pluginsDir = Config["Codex:PluginsDirectory"] ?? "plugins";
        var absolutePluginsDir = Path.GetFullPath(Path.Combine(Env.ContentRootPath, pluginsDir));
        await Loader.LoadAndInitializeAsync(absolutePluginsDir, World);
    }
}
